*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url('../components/assets/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/* search bar style  */
.searchbox{
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
.searchbox input{
    border-radius: 10px;
    padding: 10px 20px;
    min-width: 50%;
    font-size: 18px;
    border: none;
    outline: 2px solid whitesmoke;
    box-shadow: 2px 3px 5px black;
    background-color: rgba(204, 202, 202, 0.725);
    font-weight: 700;
}

.frontpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    color: white;
}

/* display the current componet style  */
.maincontainer{
  display: flex;
  flex-wrap: wrap;
  margin: 10px 15px;
  
}
.displaycurrent{
    min-width: 50%;
    background-color: rgb(50, 169, 221);
    height:500px;
    padding: 20px;
    text-align: center;
   margin: 0 auto;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}



.currentforcast{
display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.currentforcast img{
    width:150px;
    border-radius: 50%;
}
.moreinfo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 20px;
}
